<div class="block">
  <div class="hello-world">
    <span class="text">Greeting: {{ text }}</span>
    <span class="session">Session Name: {{ session }}</span>
    <span class="person">Person Name: {{ person }}</span>
  </div>
</div>
